<div class="jumbotron">
    <h1>Quibill API</h1>
    <p class="lead">Welcome to the Quibill Web API!</p>
    <p><button id="getValuesButton" class="btn btn-primary btn-lg">Get Value &raquo;</button>
    </p>
    <ul id="values"></ul>
</div>
